.button{
    background-color: var( --color-light-brown);
    border-radius: var(--border-radius-large);
    color: var(--color-white);
    border: none;
    padding-inline: 28px;
    padding-block: 13px;
    font-weight: bold;
    font-size: 14px;
}