.header {
    margin-top: 25px;
    margin-bottom: 155px;
    background-color: var(--color-light-beige);
    box-shadow: 0 0 0 100px var(--color-light-beige);
    padding-inline: 70px;
    position: relative;
    z-index: 2;

    @include tablet {
        margin-top: 20px;
        margin-bottom: 70px;
        padding-inline: 20px;
        height: 48px;
        box-shadow: 0 0 0 20px var(--color-light-beige);
    }

    @include mobile {
        margin-bottom: 45px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
        height: 60px;
    }

    &__logo {
        &-wrapper {
            min-width: 140px;
            min-height: 28px;

            &>img {
                @include tablet {
                    min-width: 70px;
                    min-height: 14px;
                }
            }

            @include tablet {
                min-width: 93.3px;
                min-height: 18.6px;
            }
        }
    }

    &__menu {
        font-size: 15px;
        line-height: 20px;
        font-weight: bold;
        margin-left: auto;

        @include tablet {
            font-size: 14px;
        }

        &-list {
            display: flex;
            flex-direction: row;
            column-gap: 45px;

            @media (max-width: 1077px) {
                column-gap: 20px;
            }
        }

        //&-item {}

        &-link {
            white-space: nowrap;
        }
    }

    &__button {
        width: 129px;
        height: 47px;
        white-space: nowrap;
    }
}