body{
    color: var(--color-dark);
    background-color: var( --color-light-beige);
    font-family: var(--font-family-base);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.75;

}

a{
    text-decoration: none;
    color: inherit;
}