:root {
    --color-light-beige: #FFF8EE;
    --color-background-shadow: #FDF4EC;
    --color-dark-beige: #FAF7F3;
    --color-dark: #322F2E;
    --color-dark-alt: #313131;
    --color-brown: #C47344;
    --color-gray: #D3D3D3;
    --color-gray-button: #E1DED9;
    --color-green: #32686F;

    --color-black: #000;
    --color-white: #fff;

    --color-tagline-light: #F9EDE2;
    --color-tagline-pink: #F9A28F;
    --color-tagline-dark: #4D4D4D;

    --color-card-bg: #FFFAF2;
    --card-box-shadow: 1px 1px 20px 0px #DDDDDD;

    --quiz-box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 50%), -8px 8px 0px 0px var(--color-green);

    --box-shadow-input: 1px 1px 12px 0px rgba(0, 0, 0, 10%);

    --border-radius: 10px;
    --border-radius-medium: 20px;
    --border-radius-large: 50px;

    --font-family-base: "Roboto", sans-serif;

    --container-width: 1240px;

}