@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light-beige: #FFF8EE;
  --color-dark-beige: #FAF7F3;
  --color-dark: #322F2E;
  --color-dark-alt: #313131;
  --color-brown: #C47344;
  --color-gray: #D3D3D3;
  --color-gray-button: #E1DED9;
  --color-green: #32686F;
  --color-black: #000;
  --color-white: #fff;
  --color-tagline-light: #F9EDE2;
  --color-tagline-pink: #F9A28F;
  --color-tagline-dark: #4D4D4D;
  --color-card-bg: #FFFAF2;
  --card-box-shadow: 1px 1px 20px 0px #DDDDDD;
  --quiz-box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 50%), -8px 8px 0px 0px var(--color-green);
  --border-radius: 10px;
  --border-radius-medium: 20px;
  --border-radius-large: 50px;
  --font-family-base: "Roboto", sans-serif;
  --container-width: 1240px;
}

body {
  color: var(--color-dark);
  background: linear-gradient(var(--color-light-beige), var(--color-white));
  background-repeat: no-repeat;
  font-family: var(--font-family-base);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.75;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  padding-top: 38px;
  padding-inline: 70px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__menu {
  font-size: 16px;
  font-weight: bold;
  margin-left: auto;
}
.header__menu-list {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 43px;
       column-gap: 43px;
}
.button {
  background-color: var(--color-brown);
  border-radius: var(--border-radius-large);
  color: var(--color-white);
  border: none;
  padding-inline: 28px;
  padding-block: 13px;
  font-weight: bold;
  font-size: 14px;
}
.button--light {
  border: 2px solid var(--color-gray-button);
  background: transparent;
  color: var(--color-black);
}

.hero {
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__main {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  margin-top: 11px;
  font-size: 110px;
  font-weight: bold;
  color: var(--color-dark);
  line-height: 119px;
}
.hero__description {
  margin-top: 28px;
  font-size: 21px;
  font-weight: 500;
  line-height: 33px;
  max-width: 524px;
  text-align: center;
}
.hero__button {
  margin-top: 20px;
}
.hero__galleries {
  margin-top: 52px;
}
.hero__galleries-list {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.hero__galleries-item {
  max-width: 255px;
  max-height: 95px;
}
.hero__whatis {
  margin-top: 30px;
  max-width: 300px;
  color: var(--color-brown);
}
.hero__whatis-link {
  display: flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.hero__whatis__text {
  --paragraphMarginBottom: 0;
}
.hero__picture {
  margin-top: 99px;
}

.tagline-bg {
  border-radius: var(--border-radius-medium);
  font-weight: bold;
  max-height: 25px;
  padding-inline: 12px;
  padding-block: 5px;
  align-content: center;
}
.tagline-bg--pink {
  background-color: var(--color-tagline-pink);
  color: var(--color-white);
  font-size: 12px;
}
.tagline-bg--light {
  background-color: var(--color-tagline-light);
  color: var(--color-tagline-dark);
  font-size: 13px;
  margin-left: -12px;
  padding-left: 31px;
  padding-right: 20px;
}

.solutions {
  margin-top: 140px;
}
.solutions__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.solutions-card {
  background-color: var(--color-card-bg);
  width: 490px;
  height: 578px;
  border-radius: var(--border-radius);
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.solutions-card__image {
  margin-top: 51px;
}
.solutions-card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.solutions-card__title {
  max-width: 335px;
  margin-top: 26px;
  font-size: 42px;
  font-weight: bold;
  line-height: 52px;
  text-align: center;
}
.solutions-card__description {
  max-width: 437px;
  text-align: center;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.solutions-card__button {
  margin-top: 23px;
  margin-bottom: 34px;
}

.quiz {
  margin-top: 177px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 85px;
       column-gap: 85px;
}
.quiz__card {
  background-color: var(--color-green);
  border-radius: var(--border-radius);
  color: var(--color-white);
  width: 220px;
  height: 260px;
  padding: 25px;
  box-shadow: var(--quiz-box-shadow);
  display: flex;
  flex-direction: column;
  align-items: start;
}
.quiz__card-number {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.quiz__card-icon {
  margin-top: 23px;
}
.quiz__card-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 32px;
  margin-top: 12px;
}
.quiz__card-begin-button {
  margin-top: 33px;
  width: 170px;
  display: flex;
  justify-content: space-between;
  padding-top: 9px;
  border-top: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.quiz__body {
  max-width: 470px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.quiz__title {
  margin-top: 18px;
  font-size: 53px;
  font-weight: bold;
  line-height: 62px;
}
.quiz__description {
  font-size: 21px;
  font-weight: 500;
  line-height: 33px;
  margin-top: 25px;
}
.quiz__button {
  margin-top: 23px;
}/*# sourceMappingURL=styles.css.map */